* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    min-height: 100vh;
    min-width: 100vh;
    background: linear-gradient(to right top, #76cee9, #a8c9f5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.25));
    backdrop-filter: blur(2rem);
    min-height: 80vh;
    width: 60%;
    border-radius: 1.5rem;
    z-index: 2;
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 4px #93959777;
    overflow: hidden;
}

.card:hover, .circle1:hover, .circle2:hover {
    box-shadow: 4px 4px 8px #86878877;
}

.circle1, .circle2 {
    background: white;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.5));
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

a {
    color: black;
}

.name, p {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name {
    font-weight: 700;
    font-size: 3.5em;
    margin-bottom: 1rem;
}

.p {
    font-weight: 400;
}

.circle1 {
    bottom: 5%;
    left: 15%;
}

.circle2 {
    top: 5%;
    right: 15%;
}

img {
    object-fit: cover;
    max-width: 30%;
    max-height: 80%;
    z-index: 3;
}

.info {
    text-align: start;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 3rem;
    max-width: 80vh;
}

.socials {
    max-width: 80vh;
    height: 7vh;
    display: flex;
}

.social {
    padding: 0.5rem;
}

.social:hover {
    font-size: 1.20rem;
}